<% if @model == 'end_user' %>
  <h3>EndUsers search for '<%= @content %>'</h3>
  <%= render 'admin/end_users/index', end_users: @records %>
<% else @model == 'item' %>
  <h3>Items search for '<%= @content %>'</h3>
    <%= render 'admin/items/index', items: @records %>
<% end %>
