<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <table>
      	<tr><th>ジャンル検索</th></tr>
      	  <tr><td>ケーキ</td></tr>
      	  <tr><td>焼き菓子</td></tr>
      	  <tr><td>プリン</td></tr>
      	  <tr><td>キャンディ</td></tr>
      </table>
    </div>

    <div class="col-xs-9">
      <div id="theTarget">
        ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </div>

      <h4 class="headline">オススメ商品</h4>
    </div>
  </div>
</div>
<li><%= link_to " logout", destroy_master_session_path, method: :delete, :class => "glyphicon glyphicon-log-out" %></li>