<table class="tableb">
  <tr><th class="text-gold bordot">ジャンル検索</th></tr>
  <% genres.each do |g| %>
    <% if g.is_valid == true %>
      <tr><th class="border-dot"><%= link_to g.name, public_genre_path(g.id) %></th></tr>
    <% end %>
  <% end %>
</table>