<h2>配送先登録/一覧</h2>
<%= form_for(@shipping_address_new) do |f| %>
  <%= f.text_field :postal_code, class: "form-control", placeholder: "郵便番号(ハイフンなし)" %>
  <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
  <%= f.text_field :address, class: "form-control", placeholder: "宛名" %>