<div class="container main">
  <div class="row">
    <br><br>
    <h1>本日の注文件数
      <%= link_to admin_orders_path do %>
  	    <%= Order.where(created_at: Time.zone.now.all_day).count %>
      <% end %>件
    </h1>
  </div>
</div>