<div class="thanks-container main">
  <div class="row box">
  	<div class="canvas">
    <div class="line">
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
    </div>
    <div class="line">
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
    </div>
    <div class="line">
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
    </div>
    <div class="line">
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
    </div>
    <div class="line">
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
    </div>
    <div class="line">
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
    </div>
    <div class="line">
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
        <div class="dot dot--aqua"></div>
    </div>
    <div class="line">
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
        <div class="dot dot--gold"></div>
    </div>
    <div class="line">
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
        <div class="dot dot--tomato"></div>
    </div>
</div>

  <br><br>
  <div class="text-center"><%= image_tag 'anime_thanks.png' %></div><br><br>

      	<div class="text-center">
      	  <%=link_to "購入履歴一覧ページ", public_orders_path, class: "btn btn-success" %>
      	</div><br><br>

      </div>
    </div>
  </div>
</div>