<div class="thanks-container">
  <div class="row">
  	<div class="thanks-page">
    <h1>ご購入ありがとうございました！</h1><br><br>
      <div class="text-center">
      	<%=link_to "購入履歴一覧ページ", public_orders_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
