/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

 * {
   color: white;
   background-color: black;
   font-family: 'Cambria','游ゴシック','Yu Gothic','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Hiragino Kaku Gothic ProN','Hiragino Sans','ヒラギノ角ゴシック','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
 }

 body {
   margin-bottom: 50px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
 }

 .container {
   width: 100%;
   height: 100%;
   padding: 20px 0px 0px 0px;
 }

 #container-header {
   width: 100%;
   margin: 0;
   padding: 0;
   height: 120px;
   box-sizing: border-box;
   background: linear-gradient(to bottom,#000000 60%,#3C3C3C );
   border-bottom: 1px solid #C7B299;
   z-index: 4;
   position: relative;
 }

 div.row-navbar navbar-fixed {
 width: 100%;
height: 110px;
 }

 .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

  .li {
  margin-top: 16px;
  height: 50px;
  }

 button.btn btn-outline-danger {padding: 0px 0px 0px 0px ;
  margin-left: 25px;
    margin-top: 50px;
    margin-right: 20px;
 }
 
li.nav welcome {
  margin-top: 50px
}

 .headline {
  font-size: 30px;
  border-bottom: 1px solid #c69c6d;
  padding-bottom: 5px;
 }
 
 .btn btn-outline-danger {
  padding: 0px 50px 0px ;
 }

 .left {
   padding-left: 10px;
 }

 .nav {
   height: 40px;
 }

 .transaction {  /* 顧客 マイページ */
   width: 40%;
 }

 .shipping-table { /* 顧客 配送先登録一覧ページ */
   width: 50%;
 }

 .orderindex-table { /* 顧客 注文一覧ページ */
   width: 70%;
 }

 .ordershow-table { /* 顧客 注文詳細ページ */
   width: 35%;
 }

 .shipping-span {
   padding: 0 50px 0 50px;
 }
 
 /*　ヘッダー public　*/

div.logo {
  height: 110px;
  width: 250px;
  padding: 0px 0px 0px 100px;
}
.logo {
  padding: 0px 0px 0px 0px;
  background:rgba(0,0,0,0);
}
nav.navbar navbar-fixed {
  width: 100%;
   height: 100px;
}
ul.nav navbar-nav navbar {
  width: 1000px;
   height: 50px;
}

 a:hover {
   color: white;
 }

 a {
   color: white;
 }

 .border-dot {
  border-style: dotted;
  background-color: #303030;
 }

 .bordot {
  background-color: #303030;
 }

 table {
   width: 80%;
 }

 table, th {
   border: 1px solid white;
   padding: 10px;
 }

 table, td {
   padding: 10px;
 }

 #theTarget {
   width: 780px;
   height: 400px;
 }

 .image1 {
   background-image: url(image1.jpg);
 }
 .image2 {
   background-image: url(image2.jpg);
 }
 .image3 {
   background-image: url(image3.jpg);
 }
 .image4 {
   background-image: url(image4.jpg);
 }

 .text-gold {
   color: #c69c6d;
 }

 

 .way-label {
   text-shadow: 5px 5px 2px #c69c6d;
 }

 .table-noborder {
  border: none;
 }



 .btn-circle {
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 6px 0;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
 }

// ページネーション

 .pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

li {
  list-style: none;
}

.item-box {
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  background-color: black;
}

.box-inline {
  display: inline-block;
  background-color: #303030;
}

.background-gold {
  border: 2px solid #c69c6d;
  width: 600px;
}

/* 写真拡大 */

.img_wrap:hover{
.image {
  box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
}

  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.main {
  flex: 1;
}

.tableb {
  border: 2px solid black;
  margin: 0 20px;
  flex: 1;
}

// ユーザートップページ
.intro {
  font-size: 20px;
 }