/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/

 * {
   color: white;
   background-color: black;
 }

 .container {
   width: 100%;
   height: 100%;
 }

 .nav {
   height: 40px;
   
 }
 /*　ヘッダーで使いました　*/
.solid{
   border: 1px groove #D1AE15;
}
.logo {
  padding: 12px 0px 0px 100px;
}

.nav welcome {
 padding: 3px 0px 0px 0px; 
}

 a:hover {
   color: white;
 }

 table {
   width: 80%;
 }

 table, th {
   border: 1px solid white;
   padding: 10px;
 }

 table, td {
   padding: 10px;
 }

 #theTarget {
   width: 700px;
   height: 350px;
   background-image: url(short_cake.jpg);
   background-size: cover;
   padding: 130px 0 0 20px;
 }

 body {
   margin-top: 100px;
 }

 .table-noborder {
  border: none;
 }

 .btn {
 margin-left: 25px;
 } 

 .btn-circle {
   width: 30px;
   height: 30px;
   text-align: center;
   padding: 6px 0;
   font-size: 12px;
   line-height: 1.428571429;
   border-radius: 15px;
 }

// ページネーション

 .pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

li {
  list-style: none;
}

.item-box{
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
}

.box-inline{
  display: inline-block;
}

.thanks-page {
  width: 100%;
  height: 100%;
  background-image: url(thanks.jpeg);
  background-size:  cover;
}

/* 写真拡大 */

.image {
}
.img_wrap:hover{
.image {
  box-shadow: 10px 10px 7px rgba(0,0,0,0.5);
}
  transform: translateY(-10px);
  transition-duration: 0.5s;
}