

<div class="container-fooder">
  <nav class="nav navbar-nav navbar-left">
    <div class="log"><img alt="logo" src="/assets/logo.jpg" class="log" width="90%" height="95%">
     <li class="moji">プライバシーポリシー<br>
                      特定商取引法に基づく表記<br>
                      C.Team Nobishiro<br>
                    </br></br></br></li>
    </div>
  </nav>

</div>