<footer>
  <div class="footer_logo solid">
    <div id="logo">
      <nav class="nav navbar-nav navbar-left">
        <div class="logo"><img alt="logo" src="/assets/logo.jpg" class="logo" width="90%" height="95%"></div>
      </nav>
    </div>
    <div class="footer_menu">
      <ul>
        <li><a href="guide.phtml?cmd=privacy">プライバシーポリシー</a></li>
        <li><a href="guide.phtml?cmd=houmon">特定商取引法に基づく表記</a></li>
      </ul>
    </div>
    <div class="copy">C.Team Nobishiro</div>
  </div>
</footer>