<footer>
  <div class="footer_logo solid">
    <div id="logo">
      <div class="logo">
        <%= link_to root_path do %>
          <img alt="logo" src="assets/logo.jpg" class="logo" width="30%" height="30%">
        <% end %>
      </div>
    </div>
    <div class="footer_menu">
      <ul>
        <li><a href="guide.phtml?cmd=privacy">プライバシーポリシー</a></li>
        <li><a href="guide.phtml?cmd=houmon">特定商取引法に基づく表記</a></li>
      </ul>
    </div>
    <div class="copy">C.Team Nobishiro</div>
  </div>
</footer>